/* Main colors 
  #561700 Semi-Orange 
  #303030 Semi-Black
  #252525 Bro-Black
*/
::selection{
  user-select: none;
}
.App{
  display: inline-block;
  background-color: #252525;
  height: 100%;
  width: 100%;
  min-height: 100vh !important;
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
  }
}
@media (min-width: 768px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
  }
}
@media (min-width: 576px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 100% !important;
  }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: var(--bs-gutter-x,1rem) !important;
  margin-right: auto;
  margin-left: auto;
}